In [7]:
import pickle
import pyranges as pr
import re
import pandas as pd
import os

In [8]:
os.chdir('/user/leuven/330/vsc33042/fderop/data/20211105_hca_benchmark_libds_region_repository')

In [9]:
import re

sample_annot = pd.DataFrame(
    [
        ['Broad_1','BioRad'],
        ['Broad_2','BioRad'],
        ['Stanford_1','10x v1.0'],
        ['Stanford_2','10x v1.0'],
        ['VIB_1','10x v1.0'],
        ['VIB_2','10x v1.0'],
        ['CNAG_1','10x v1.1'],
        ['CNAG_2','10x v1.1'],
        ['Broad_mito_1','mito-scATAC-seq'],
        ['Broad_mito_2','mito-scATAC-seq'],
        ['Sanger_1','10x multiome'],
        ['Sanger_2','10x multiome'],
        ['s3atac','s3-ATAC'],
    ],
    columns=['key','Technology']
)
sample_annot['Sample'] = sample_annot['key']
sample_annot.set_index('key', drop=False, inplace=True)
# rename samples:
sample_annot.loc['Broad_1','Sample'] = 'Harvard_1'
sample_annot.loc['Broad_2','Sample'] = 'Harvard_2'
sample_annot.loc['Broad_mito_1','Sample'] = 'Broad_1'
sample_annot.loc['Broad_mito_2','Sample'] = 'Broad_2'
sample_annot.loc['s3atac','Sample'] = 'OHSU'

sample_annot['Replicate'] = [ x.Sample.split('_')[-1] for i,x in sample_annot.iterrows() ]
sample_annot['st'] = [ re.sub('_[0-9]','',x.Sample)+' ('+x.Technology+')' for i,x in sample_annot.iterrows() ]

sample_annot.loc[sample_annot['key']=='s3atac','Replicate'] = 1
sample_map = { x: y.Sample for x,y in sample_annot.iterrows() }
sample_annot

,key,Technology,Sample,Replicate,st
key,,,,,
Broad_1,Broad_1,BioRad,Harvard_1,1,Harvard (BioRad)
Broad_2,Broad_2,BioRad,Harvard_2,2,Harvard (BioRad)
Stanford_1,Stanford_1,10x v1.0,Stanford_1,1,Stanford (10x v1.0)
Stanford_2,Stanford_2,10x v1.0,Stanford_2,2,Stanford (10x v1.0)
VIB_1,VIB_1,10x v1.0,VIB_1,1,VIB (10x v1.0)
VIB_2,VIB_2,10x v1.0,VIB_2,2,VIB (10x v1.0)
CNAG_1,CNAG_1,10x v1.1,CNAG_1,1,CNAG (10x v1.1)
CNAG_2,CNAG_2,10x v1.1,CNAG_2,2,CNAG (10x v1.1)
Broad_mito_1,Broad_mito_1,mito-scATAC-seq,Broad_1,1,Broad (mito-scATAC-seq)
Broad_mito_2,Broad_mito_2,mito-scATAC-seq,Broad_2,2,Broad (mito-scATAC-seq)
Sanger_1,Sanger_1,10x multiome,Sanger_1,1,Sanger (10x multiome)
Sanger_2,Sanger_2,10x multiome,Sanger_2,2,Sanger (10x multiome)
s3atac,s3atac,s3-ATAC,OHSU,1,OHSU (s3-ATAC)

## Export DARs

In [21]:
f_dar_list = {
    'fulldata': '/staging/leuven/stg_00002/lcb/cflerin/analysis/pbmc_atac/analysis2/data_freeze_Jun2021/atac_qc_multiplet_merged/jupyter/downstream_analysis/markers_dict.pkl',
    'cellds': '/staging/leuven/stg_00002/lcb/cflerin/analysis/pbmc_atac/analysis2/data_freeze_Jun2021_cell_downsampled/atac_qc/jupyter/downstream_analysis/markers_dict.pkl',
    'libds': '/staging/leuven/stg_00002/lcb/cflerin/analysis/pbmc_atac/analysis2/data_freeze_Jun2021_library_downsampled/atac_qc_multiplet_merged/jupyter/downstream_analysis/markers_dict.pkl'
}

f_dar_output_list = {
    'fulldata': 'rerun_cflerin_dar_script_fulldata/',
    'cellds': 'rerun_cflerin_dar_script_cellds/',
    'libds': 'rerun_cflerin_dar_script_libds/'
}


mdict = {}
for ds in f_dar_list.keys():
    with open(f_dar_list[ds], 'rb') as f:
        mdict[ds] = pickle.load(f)

In [16]:
mdict[ds][key][ct]

                            Log2FC Adjusted_pval             Contrast
chr1:18828136-18828636    6.007183           0.0  Natural killer cell
chrX:68304550-68305050     5.99964           0.0  Natural killer cell
chr13:35566326-35566826   5.969742           0.0  Natural killer cell
chr11:65694837-65695337   5.942021           0.0  Natural killer cell
chr4:104896894-104897394   5.93303           0.0  Natural killer cell
...                            ...           ...                  ...
chr2:126664200-126664700  0.585416           0.0  Natural killer cell
chr7:131238224-131238724   0.58526           0.0  Natural killer cell
chr1:226703197-226703697  0.585149           0.0  Natural killer cell
chrX:131813053-131813553  0.585128           0.0  Natural killer cell
chr11:81787468-81787968   0.585066           0.0  Natural killer cell

[9531 rows x 3 columns]

In [27]:
mdict.keys()

dict_keys(['fulldata', 'cellds', 'libds'])

In [28]:
mdict['libds'].keys()

dict_keys(['Broad_1', 'Broad_2', 'Broad_mito_1', 'Broad_mito_2', 'CNAG_1', 'CNAG_2', 's3atac', 'Sanger_1', 'Sanger_2', 'Stanford_1', 'Stanford_2', 'VIB_1', 'VIB_2', 'merged'])

In [29]:
mdict['libds']['Broad_1'].keys()

dict_keys(['B cell', 'CD14+ monocyte', 'CD4+ T cell', 'Cytotoxic T cell', 'Dendritic cell', 'Natural killer cell'])

In [32]:
mdict['libds']['VIB_1']['B cell']

                             Log2FC Adjusted_pval Contrast
chr1:200285996-200286496   8.970345           0.0   B cell
chr2:39527043-39527543     8.970345           0.0   B cell
chr5:68565407-68565907     8.970345           0.0   B cell
chr5:151427206-151427706   8.970345           0.0   B cell
chr10:5645328-5645828      8.970345           0.0   B cell
...                             ...           ...      ...
chr12:113302865-113303365  0.585964           0.0   B cell
chr5:150081763-150082263   0.585949           0.0   B cell
chr16:81770957-81771457    0.585746           0.0   B cell
chr8:28072710-28073210     0.585614           0.0   B cell
chr17:1762794-1763294      0.585081      0.000019   B cell

[10067 rows x 3 columns]

In [ ]:
sample_map[Broad_1]

In [20]:
for ds in mdict.keys():
    print(ds)
    for key in mdict[ds].keys():
        print(' '+key)
        for ct in mdict[ds][key].keys():
            #print('  '+ct)
            s = 'merged' if key=='merged' else sample_map[key]
            f_out = os.path.join(f_dar_output_list[ds], ds + '__' + s + '__' + re.sub(" ", "_", ct) + '__DARs.txt')
            pd.concat([
                pd.DataFrame(
                    [ re.split(':|-',x) for x in mdict[ds][key][ct].index ],
                    columns=['chrom','chromStart','chromEnd'],
                    index=mdict[ds][key][ct].index,
                ),
                mdict[ds][key][ct]
            ],
                axis=1
            ).to_csv(f_out, sep='\t', index=False, header=False)

fulldata
 Broad_1
 Broad_2
 Broad_mito_1
 Broad_mito_2
 CNAG_1
 CNAG_2
 s3atac
 Sanger_1
 Sanger_2
 Stanford_1
 Stanford_2
 VIB_1
 VIB_2
 merged
cellds
 Broad_1
 Broad_2
 Broad_mito_1
 Broad_mito_2
 CNAG_1
 CNAG_2
 s3atac
 Sanger_1
 Sanger_2
 Stanford_1
 Stanford_2
 VIB_1
 VIB_2
 merged
libds
 Broad_1
 Broad_2
 Broad_mito_1
 Broad_mito_2
 CNAG_1
 CNAG_2
 s3atac
 Sanger_1
 Sanger_2
 Stanford_1
 Stanford_2
 VIB_1
 VIB_2
 merged

In [31]:
ct = 'B cell'
key = 'Broad_1'
ds = 'libds'
pd.concat([
    pd.DataFrame(
        [ re.split(':|-',x) for x in mdict[ds][key][ct].index ],
        columns=['chrom','chromStart','chromEnd'],
        index=mdict[ds][key][ct].index,
    ),
    mdict[ds][key][ct]
],
    axis=1
)

,chrom,chromStart,chromEnd,Log2FC,Adjusted_pval,Contrast
chr5:124524612-124525112,chr5,124524612,124525112,8.793576,0.0,B cell
chr3:31946697-31947197,chr3,31946697,31947197,8.793085,0.0,B cell
chr1:12040530-12041030,chr1,12040530,12041030,8.667179,0.0,B cell
chr1:67112391-67112891,chr1,67112391,67112891,8.657592,0.0,B cell
chr14:53613694-53614194,chr14,53613694,53614194,8.64902,0.0,B cell
...,...,...,...,...,...,...
chr5:177426846-177427346,chr5,177426846,177427346,0.586212,0.0,B cell
chr2:37324499-37324999,chr2,37324499,37324999,0.586073,0.0,B cell
chr1:39230619-39231119,chr1,39230619,39231119,0.585512,0.0,B cell
chr15:79970870-79971370,chr15,79970870,79971370,0.585369,0.0,B cell
chr17:77881500-77882000,chr17,77881500,77882000,0.585059,0.0,B cell

In [26]:
ct = 'B cell'
key = 'Broad_1'
ds = 'libds'
pd.concat([
    pd.DataFrame(
        [ re.split(':|-',x) for x in mdict[ds][key][ct].index ],
        columns=['chrom','chromStart','chromEnd'],
        index=mdict[ds][key][ct].index,
    ),
    mdict[ds][key][ct]
],
    axis=1
).to_csv('libds.broad_1.dars.test.bed', sep='\t', index=False, header=False)

'Natural killer cell'